# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env
venv/
.venv/

# FastAPI/uvicorn logs
*.log

# macOS
.DS_Store

# VSCode
.vscode/

# React/Electron/Node
frontend/node_modules/
frontend/build/
frontend/dist/
frontend/.env

# Electron
*.asar

# Misc
*.swp
*.swo

# Model files
backend/models/ 

llama.cpp/

# Google Drive
backend/token.json
backend/credentials.json